/* league-spartan-100 - latin */
@font-face {
  font-family: "League Spartan";
  font-style: normal;
  font-weight: 100;
  src: url("league_spartan/league-spartan-v4-latin-100.eot");
  src: local(""),
    url("league_spartan/league-spartan-v4-latin-100.eot?#iefix")
      format("embedded-opentype"),
    url("league_spartan/league-spartan-v4-latin-100.woff2") format("woff2"),
    url("league_spartan/league-spartan-v4-latin-100.woff") format("woff"),
    url("league_spartan/league-spartan-v4-latin-100.ttf") format("truetype"),
    url("league_spartan/league-spartan-v4-latin-100.svg#LeagueSpartan")
      format("svg");
}
/* league-spartan-300 - latin */
@font-face {
  font-family: "League Spartan";
  font-style: normal;
  font-weight: 300;
  src: url("league_spartan/league-spartan-v4-latin-300.eot");
  src: local(""),
    url("league_spartan/league-spartan-v4-latin-300.eot?#iefix")
      format("embedded-opentype"),
    url("league_spartan/league-spartan-v4-latin-300.woff2") format("woff2"),
    url("league_spartan/league-spartan-v4-latin-300.woff") format("woff"),
    url("league_spartan/league-spartan-v4-latin-300.ttf") format("truetype"),
    url("league_spartan/league-spartan-v4-latin-300.svg#LeagueSpartan")
      format("svg");
}
/* league-spartan-regular - latin */
@font-face {
  font-family: "League Spartan";
  font-style: normal;
  font-weight: 400;
  src: url("league_spartan/league-spartan-v4-latin-regular.eot");
  src: local(""),
    url("league_spartan/league-spartan-v4-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    url("league_spartan/league-spartan-v4-latin-regular.woff2") format("woff2"),
    url("league_spartan/league-spartan-v4-latin-regular.woff") format("woff"),
    url("league_spartan/league-spartan-v4-latin-regular.ttf") format("truetype"),
    url("league_spartan/league-spartan-v4-latin-regular.svg#LeagueSpartan")
      format("svg");
}
/* league-spartan-200 - latin */
@font-face {
  font-family: "League Spartan";
  font-style: normal;
  font-weight: 200;
  src: url("league_spartan/league-spartan-v4-latin-200.eot");
  src: local(""),
    url("league_spartan/league-spartan-v4-latin-200.eot?#iefix")
      format("embedded-opentype"),
    url("league_spartan/league-spartan-v4-latin-200.woff2") format("woff2"),
    url("league_spartan/league-spartan-v4-latin-200.woff") format("woff"),
    url("league_spartan/league-spartan-v4-latin-200.ttf") format("truetype"),
    url("league_spartan/league-spartan-v4-latin-200.svg#LeagueSpartan")
      format("svg");
}
/* league-spartan-600 - latin */
@font-face {
  font-family: "League Spartan";
  font-style: normal;
  font-weight: 600;
  src: url("league_spartan/league-spartan-v4-latin-600.eot");
  src: local(""),
    url("league_spartan/league-spartan-v4-latin-600.eot?#iefix")
      format("embedded-opentype"),
    url("league_spartan/league-spartan-v4-latin-600.woff2") format("woff2"),
    url("league_spartan/league-spartan-v4-latin-600.woff") format("woff"),
    url("league_spartan/league-spartan-v4-latin-600.ttf") format("truetype"),
    url("league_spartan/league-spartan-v4-latin-600.svg#LeagueSpartan")
      format("svg");
}
/* league-spartan-500 - latin */
@font-face {
  font-family: "League Spartan";
  font-style: normal;
  font-weight: 500;
  src: url("league_spartan/league-spartan-v4-latin-500.eot");
  src: local(""),
    url("league_spartan/league-spartan-v4-latin-500.eot?#iefix")
      format("embedded-opentype"),
    url("league_spartan/league-spartan-v4-latin-500.woff2") format("woff2"),
    url("league_spartan/league-spartan-v4-latin-500.woff") format("woff"),
    url("league_spartan/league-spartan-v4-latin-500.ttf") format("truetype"),
    url("league_spartan/league-spartan-v4-latin-500.svg#LeagueSpartan")
      format("svg");
}
/* league-spartan-700 - latin */
@font-face {
  font-family: "League Spartan";
  font-style: normal;
  font-weight: 700;
  src: url("league_spartan/league-spartan-v4-latin-700.eot");
  src: local(""),
    url("league_spartan/league-spartan-v4-latin-700.eot?#iefix")
      format("embedded-opentype"),
    url("league_spartan/league-spartan-v4-latin-700.woff2") format("woff2"),
    url("league_spartan/league-spartan-v4-latin-700.woff") format("woff"),
    url("league_spartan/league-spartan-v4-latin-700.ttf") format("truetype"),
    url("league_spartan/league-spartan-v4-latin-700.svg#LeagueSpartan")
      format("svg");
}
/* league-spartan-800 - latin */
@font-face {
  font-family: "League Spartan";
  font-style: normal;
  font-weight: 800;
  src: url("league_spartan/league-spartan-v4-latin-800.eot");
  src: local(""),
    url("league_spartan/league-spartan-v4-latin-800.eot?#iefix")
      format("embedded-opentype"),
    url("league_spartan/league-spartan-v4-latin-800.woff2") format("woff2"),
    url("league_spartan/league-spartan-v4-latin-800.woff") format("woff"),
    url("league_spartan/league-spartan-v4-latin-800.ttf") format("truetype"),
    url("league_spartan/league-spartan-v4-latin-800.svg#LeagueSpartan")
      format("svg");
}
/* league-spartan-900 - latin */
@font-face {
  font-family: "League Spartan";
  font-style: normal;
  font-weight: 900;
  src: url("league_spartan/league-spartan-v4-latin-900.eot");
  src: local(""),
    url("league_spartan/league-spartan-v4-latin-900.eot?#iefix")
      format("embedded-opentype"),
    url("league_spartan/league-spartan-v4-latin-900.woff2") format("woff2"),
    url("league_spartan/league-spartan-v4-latin-900.woff") format("woff"),
    url("league_spartan/league-spartan-v4-latin-900.ttf") format("truetype"),
    url("league_spartan/league-spartan-v4-latin-900.svg#LeagueSpartan")
      format("svg");
}
