html {
  scroll-behavior: smooth;
}

.landing-page {
  background-color: white;
}

.navbar {
  padding: 30px 70px;

  a.navbar-brand {
    padding: 0;
  }

  .header-logo {
    height: 52px;
  }

  .header-link {
    font-family: "League Spartan";
    font-weight: bold !important;
    font-size: 22px !important;
    letter-spacing: 0px;
    color: #023951 !important;
    opacity: 1;
  }

  .header-items {
    margin-left: calc(230px);
    margin-right: calc(150px);
    justify-content: space-between;
    flex: 1;
  }
}

#hero {
  margin-bottom: 160px;
  width: 100vw;
  position: relative;
  background-color: white;
  overflow: hidden;
  img {
    z-index: 1;
    width: 100vw;
    height: calc(100vh - 100px);
    object-fit: cover;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
  }
  .hero-content {
    position: relative;
    width: 100vw;
    overflow: auto;
    z-index: 999;
    h1.hero-title,
    h2.hero-sub-title {
      color: white;
      text-align: center;
      font-family: "Montserrat";
      padding: 0 80px;
    }

    h1.hero-title {
      font-size: 100px;
      font-weight: bold;
      padding-top: 300px;
    }

    h2.hero-sub-title {
      margin-bottom: 120px;
      font-size: 55px;
    }
  }
}

#company {
  background-color: white;
  padding-bottom: 160px;
  img {
    width: 100%;
  }
  h2 {
    font-family: "Montserrat";
    font-weight: bold;
    font-size: 60px;
    color: #023951;
    margin-bottom: 0 !important;
  }
  h3 {
    font-family: "Montserrat";
    color: #023951;
    font-size: 34px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
  }
}

#sell-your-house-fast {
  position: relative;
  overflow: hidden;
  background-color: white;
  .sell-your-house-fast-bg {
    position: absolute;
    top: 10%;
    left: 0;
    width: 100%;
    height: 80%;
    overflow: hidden;
    object-fit: cover;
  }
  .sell-your-house-content {
    background-color: #023951;
    padding: 50px;
    border-radius: 12px;
    h2 {
      font-family: "Montserrat";
      font-weight: bold;
      font-size: 60px;
      color: white;
      margin-bottom: 0 !important;
    }
    h4 {
      margin-top: 48px;
      font-family: "Montserrat";
      font-size: 30px;
      color: white;
      margin-bottom: 0 !important;
      display: flex;
      align-items: center;
      margin-left: 60px;
      .circle {
        width: 40px;
        height: 40px;
        border-radius: 40px;
        margin-right: 30px;
        background-color: white;
      }
      p {
        flex: 1;
      }
    }
  }
}

.main-form {
  max-width: 1327px;
  background-color: #023951;
  margin: 0 auto;
  width: 100%;
  padding: 56px 72px;
  border-radius: 12px;
  label {
    font-family: "Montserrat";
    color: white;
    font-size: 42px;
    margin-bottom: 20px;
  }
  input {
    font-size: 42px;
    padding: 40px 34px !important;
    margin-bottom: 20px;
    font-family: "Montserrat";
    border-radius: 13px;
  }
  select {
    font-size: 42px;
    // padding: 40px 34px !important;
    margin-bottom: 20px;
    font-family: "Montserrat";
    border-radius: 13px;
  }
  .form-btn {
    margin-top: 30px !important;
    font-size: 42px;
    padding: 15px 90px !important;
    border-radius: 18px;
    display: block;
    margin: 0 auto;
  }
}

.section-container {
  width: 100%;
  padding: 0 100px;
  background-color: white;
}

.btn.btn-primary.show-btn {
  border-radius: 18px;
  font-size: 30px !important;
  padding: 16px 60px !important;
}

.review-item {
  background-color: #023951;
  border-radius: 12px;
  text-align: center;
  padding: 80px 40px;
  border-bottom: 30px solid #5397c9;
  img {
    width: 60% !important;
    margin-bottom: 40px;
  }
  .star-container {
    color: #e0da49;
    font-size: 26px;
    margin-bottom: 20px;
  }

  h3 {
    color: white !important;
  }
  p {
    color: white !important;
  }
}

#how-it-works {
  margin-top: 160px;
  position: relative;
  overflow: hidden;
  background-color: white;
  .how-it-works-bg {
    position: absolute;
    top: 10%;
    left: 0;
    width: 100%;
    height: 80%;
    overflow: hidden;
    object-fit: cover;
  }
  .sub-content {
    background: url("/images/banner2.webp") 0% 0% no-repeat;
  }
  .how-it-works-sub-content {
    margin-top: 100px;
    background-color: #023951da;
    padding: 50px 50px;
    border-radius: 12px;
    h2 {
      font-family: "Montserrat";
      font-weight: bold;
      font-size: 54px;
      color: white;
      margin-bottom: 0 !important;
      text-align: center;
    }
  }
  .how-it-works-content {
    background-color: #2f72a3;
    padding: 50px;
    border-radius: 12px;
    h2 {
      font-family: "Montserrat";
      font-weight: bold;
      font-size: 54px;
      color: white;
      margin-bottom: 0 !important;
      text-align: center;
    }
  }
  .how-it-work-item {
    h3 {
      color: #71bff8;
      font-size: 34px;
      text-align: center;
      font-weight: 800;
      margin-top: 30px;
    }
    .sub-title {
      font-size: 24px;
      color: white;
      text-align: center;
      font-weight: lighter;
    }
    .title {
      color: white;
      font-weight: 800;
      font-size: 26px;
      text-align: center;
    }
  }
}

.border-right-light {
  border-right: 1px solid white;
}

.offer_form {
  h3 {
    color: #023951;
    font-size: 55px;
    font-weight: bold;
  }
  p {
    font-size: 20px;
  }
  h4 {
    font-size: 32px;
  }
}

.footer {
  text-align: center;
  width: 100%;
  .footer-logo {
    width: 300px;
  }
  h1 {
    font-size: 36px;
    font-weight: bold;
    color: #023951;
    margin-top: 30px;
  }
  .footer-link {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    .footer-link-item {
      font-size: 20px;
      font-weight: bold;
      color: #023951 !important;
      text-decoration: none !important;
      margin: 12px 17px;
    }
  }
  .footer-social {
    img {
      width: 60px;
      margin: 20px 12px;
    }
  }
  h2 {
    font-size: 20px;
    color: #023951 !important;
    font-weight: bold;
  }
}
